body {
  display: flex;
  justify-content: center;
  background-color: #161616;
}
.btn {
  margin-top: 200px;
  padding: 15px 40px;
  border-radius: 7px;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  position: relative;
  z-index: 0;
}
.btn::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #333;
  left: 0;
  top: 0;
  border-radius: 5px;
}
.btn::before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  left: -2px;
  top: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  filter: blur(7px);
  animation: glowing 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 5px;
  opacity: 0;
}
@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.btn:hover::before {
  opacity: 1;
}
.btn:active {
  color: black;
  font-weight: bold;
}
.btn:active::after {
  background: transparent;
}
